{% extends "map_quest/base.html" %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="fourteen wide column">
  <img class="ui centered small image" src="{{ LOGO_PATH }}">
  <h2 class="ui center aligned icon header">
    <div class="content">
      {{ APPLICATION_NAME }}
      <div class="sub header">{{ APPLICATION_ABSTRACT }}</div>
    </div>
  </h2>

  <h4 id="les_projets" class="ui horizontal divider header">{{ DATASETS_VERBOSE_NAME_PLURAL }}</h4>
  <div class="ui divided items">
    {% for dataset in datasets %}
    <div class="item">
      <div class="ui tiny image">
        <img src="{{ dataset.logo }}">
      </div>
      <div class="middle aligned content">
        <a class="header" href="{% url 'map_quest:dataset_detail' dataset_id=dataset.pk %}">{{ dataset.label }}</a>
        <div class="description">
          <p>{{ dataset.description }}</p>
        </div>

        <div class="meta">
          <span class="right floated">
            <i class="calendar icon"></i>&nbsp; {{ dataset.created_on }}
          </span>
          <span data-tooltip="Nombre d'elements">
            {{ project.nb_subsets }}&nbsp;<i class="user icon"></i>
          </span>
        </div>
      </div>
    </div>
    {% empty %}
    <span>Aucun {{ DATASETS_VERBOSE_NAME }} n'est disponible.</span>
    {% endfor %}
    <div class="item">
    </div>
  </div>

  <a class="ui green basic button" href="{% url 'map_quest:dataset_create' %}">
    <i class="plus icon"></i> Créer un nouveau {{ DATASETS_VERBOSE_NAME }}
  </a>

</div>
{% endblock content %}
