# Docker conf
DEV_MODE=True
INSTALL_MODE=False
PROD_MODE=False

# Django conf
SECRET_KEY=RandomSeCreTKey
DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost, 127.0.0.1
THIRD_PARTY_DJANGO_APPS=django_extensions, rest_framework, rest_framework_gis
OUR_APPS=geocontrib, api, plugin_ideo_bfc
OUR_MIDDLEWARE=plugin_ideo_bfc.auth.middleware.RemoteUserMiddleware
LOGGER_LEVEL=INFO

# Databases conf
ENGINE=django.contrib.gis.db.backends.postgis
NAME=geocontrib_db
USER=postgres
PASSWORD=postgres
HOST=postgres
PORT=5432

# Email conf
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=email.host.com
EMAIL_HOST_USER=email@email.com
EMAIL_HOST_PASSWORD=passpass
EMAIL_PORT=587
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=no-replay@contact.fr

# Geocontrib conf
ADMINS_CREDENTIALS=[{"username":"admin", "password":"passpass", "email":"admin.email@email.com"}]

# Plugin IdeO BFC
HEADER_UID=OIDC_CLAIM_uid
OIDC_SETTED=True
