Django==2.2.9
django-extensions==2.2.5
djangorestframework==3.11
djangorestframework-gis==0.15
gunicorn==20.0.4 
psycopg2-binary==2.8.4
Pillow==2.0.0
python-decouple==3.3
requests==2.22.0
xmltodict==0.12.0
